.App {
  text-align: center;
}

.flexbox {
  display: flex;
  flex-direction: row;
}
.flexbox-col {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.todos-components-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  margin-left: 20px;
  min-height: 40vh;
  width: 100%;
}
.todos-done-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  margin-left: 20px;
  width: 100%;
  min-height: 10vh;
  text-align: center;
}
